<% unless @meths.empty? %>
    <div id="Services" class="method_details_list">
      <% if false %>
          <!-- make this block unavailable to hidden object method vc 12Apr2011 -->
          <h2>Actions</h2>
      <% end %>
      <% @meths.each_with_index do |meth, i| %>
          <%= yieldall :object => meth, :index => i %>
      <% end %>
    </div>
<% end %>